.game-area{
  background-color: #88B500;
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 7px solid #020142 ;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #000000;
  border: 1px solid #88B500;
  z-index: 2;
}

.snake-food{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #fc0000;
  border: 1px solid #88B500;
  z-index: 1;
}